{{ $woff := resources.Get "font/bootstrap-icons.woff" }}
{{ $woff2 := resources.Get "font/bootstrap-icons.woff2" }}

$bootstrap-icons-font-src: url("{{$woff2.RelPermalink}}?524846017b983fc8ded9325d94ed40f3") format("woff2"),
url("{{$woff2.RelPermalink}}?524846017b983fc8ded9325d94ed40f3") format("woff") !default;

@import "bootstrap/bootstrap";
@import "bootstrap-icons";

@include media-breakpoint-up(lg) {
    .osc-navbar-btn:not(:first-child) {
        margin-left: 0.5em;
    }
}

@include media-breakpoint-down(lg) {
    .osc-navbar-btn {
        flex-basis: 100%;
        flex-direction: column;
        display: block;
        margin: 0.5em 0 0.5em 0;
    }
}
