{{ define "main" }}

<div class="container">
    {{ .Content }}

    {{ range $section := .Site.Data.gallery }}
        <h2>
            {{ .header }}
        </h2>
        <p class="lead">
            Released {{ .released }}. <a href="{{ .releaseURL }}" ><i class="bi bi-github"></i> GitHub</a>
        </p>

        <div class="d-flex flex-wrap">
            {{ range $asset := .assets }}
                {{ $file := resources.Get .file }}
                <div class="col-md-3">
                    <a href="{{ $file.RelPermalink  }}">
                        {{ if .fileIsVideo }}
                            {{ $posterFile := strings.Replace .file "video" "img" | strings.TrimSuffix ".mp4" | strings.TrimSuffix ".webm" | printf "%s_thumb.jpg" }}
                            {{ $posterResource := resources.Get $posterFile }}
                            <video
                                class="img-fluid rounded img-thumbnail"
                                preload="none"
                                poster="{{ $posterResource.RelPermalink }}"
                                width="480"
                                height="270"
                                controls>

                                <source src="{{ $file.RelPermalink  }}">
                            </video>
                        {{ else }}
                            <img
                                class="img-fluid rounded img-thumbnail"
                                src="{{ ($file.Fill "480x270 jpg q90 Center").RelPermalink  }}"
                                loading="lazy"
                            />
                        {{ end }}
                    </a>
                </div>                
            {{ end }}
        </div>
        <br />
    {{ end }}
</div>

{{ end }}