{{ define "main" }}

<div class="container">
    {{ .Content }}

    {{ range $section := .Site.Data.gallery }}
        <h2>
            {{ .header }}
        </h2>
        <p class="lead">
            Released {{ .released }}. <a href="{{ .releaseURL }}" ><i class="bi bi-github"></i> GitHub</a>
        </p>

        <div class="d-flex flex-wrap">
            {{ range $asset := .assets }}
                {{ $file := resources.Get .file }}
                <div class="col-md-3">
                    <a href="{{ $file.RelPermalink  }}">
                        {{ if .fileIsVideo }}
                            <video class="img-fluid rounded img-thumbnail" controls>
                                <source src="{{ $file.RelPermalink  }}">
                            </video>
                        {{ else }}
                            <img class="img-fluid rounded img-thumbnail" src="{{ ($file.Fill "960x540 q100 Center").RelPermalink  }}" />
                        {{ end }}
                    </a>
                </div>                
            {{ end }}
        </div>
        <br />
    {{ end }}
</div>

{{ end }}